.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.inputDiv {
  margin-bottom: 30px;
}

.mainHeading {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subHeading {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.yesBtn {
  border: none;
  background-color: red;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px;
  transition: all ease-in 0.2s;
}

.submitBtn {
  border: none;
  background-color: rgb(0, 76, 218);
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px;
  transition: all ease-in 0.2s;
}

.noBtn {
  border: 2px solid #000000 !important;
  background-color: transparent;
  color: #000000;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px;
  transition: all ease-in 0.2s;
}

.updateInputBox {
  width: 300px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  border-radius: 50px;
  border: 2px solid black;
  margin: 10px;
}

.todoDetailLink {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
